STUDENT_LASTNAME=Петров
STUDENT_FIRSTNAME=Петр
STUDENT_PATRONYMIC=Петрович
STUDENT_PASSPORT=654321

#@BotFather
TELEGRAM_BOT_TOKEN=ваш_токен
#@userinfobot
TELEGRAM_CHAT_ID=ваш_id
CHECK_INTERVAL_MINUTES=15
